*.sw[pmno]
*.pyc
.coverage
*.egg-info
data/

# Prediction ouput folders
scripts/predict/logs/
scripts/predict/output/
scripts/predict/.predict_blockwise/

# build directory
build/

# Pretrained models ignored
scripts/train/p_setup*
